extends layout
block content
  p Welcome to #{title}
  #log
    ul#loglist
  #sensors
    - each s in sensors.data
      div.sensor
        div.title= s.title
          div.currentValue(id=s.name+'_currentValue')
        div.data(id=s.name+'_chart')
          script(type='text/javascript')
                init("#{s.name}");
